.landingpage2 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(8.35, 1.09, 20.19) 0%, rgb(56.28, 2.63, 57.37) 100%);
  background-color: rgba(58, 7, 47, 0.68) @ 100%;
  display: cover;
  min-width: 1440px;
  min-height: 803px;
}

.desktop-header-light-7 {
  align-items: flex-end;
  background-color: #ffffff1a;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  width: cover;
}

.overlap-group6 {
  height: 1011px;
  margin-bottom: -62px;
  margin-left: -79px;
  position: relative;
  width: 1980px;
}

.desktop-header-light-7-1 {
  height: 949px;
  left: 79px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlap-group5 {
  height: 1011px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1980px;
}

.desktop-hero-light-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  
}

.text-content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 582px;
  padding: 120px 0;
  position: absolute;
  top: 167px;
  width: 1275px;
}

.title {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 1.20px;
  line-height: 85px;
  margin-left: 117.0px;
  min-height: 85px;
  min-width: 594px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 182px;
  margin-right: -92.25px;
  min-width: 1002px;
}

.overlap-group4 {
  height: 118px;
  position: relative;
  width: 287px;
}

.round {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 221px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(/static/img/polygon-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: 201px;
  min-width: 86px;
  padding: 6.2px 6.7px;
  position: absolute;
  top: 48px;
}

.number {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 36px;
  min-height: 32px;
  width: 43px;
}

.left-3030 {
  color: #affff0;
  font-family: var(--font-family-genos);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 37px;
  letter-spacing: 1.60px;
  line-height: 36px;
  position: absolute;
  top: 78px;
  white-space: nowrap;
  width: 141px;
}

.line-1 {
  height: 1px;
  left: 34px;
  position: absolute;
  top: 78px;
  width: 208px;
}

.overlap-group3 {
  align-self: flex-end;
  height: 162px;
  margin-left: 17px;
  position: relative;
  width: 698px;
}

.overlap-group {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 524px;
}

.rectangle-49 {
  background-color: #ffffffbf;
  border-radius: 40px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 519px;
}

.master-button {
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 162px;
  left: 288px;
  overflow: hidden;
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 236px;
}

.master-button-1 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(243.31, 47.65, 47.65, 0.95) 0%, rgb(16.11, 176.67, 227.37) 100%);
  border-radius: 30px;
  box-shadow: 0px 10px 30px #b6322633;
  display: flex;
  height: 68px;
  overflow: hidden;
  padding: 15px 55.5px;
  width: 236px;
}

.mint-now {
  letter-spacing: 0.10px;
  line-height: 36px;
  margin-left: 3px;
  min-height: 36px;
  white-space: nowrap;
}

.text-button {
  height: 36px;
  margin-top: 26px;
  width: 119px;
}

.get_price {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 47px;
  letter-spacing: 0.10px;
  line-height: 36px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 213px;
}

.total-supply-33033333 {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 71px;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 66px;
  white-space: nowrap;
  width: 627px;
}

.desktop-navbar {
  align-items: center;
  background-color: #ffffff26;
  display: flex;
  height: 156px;
  left: 79px;
  padding: 43px 46px;
  position: absolute;
  top: 0;
  width: 2600px;
}

.right {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-left: 568px;
  margin-top: 2.0px;
  overflow: hidden;
  width: 498px;
}

.desktop-menu {
  align-items: flex-start;
  display: flex;
  margin-top: -5px;
  width: 481px;
}

.text-link {
  height: 48px;
  width: 71px;
}

.text-link-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 94px;
  padding: 9px 10px;
  width: 120px;
}

.community {
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 28px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.text-link-2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 94px;
  padding: 9px 10px;
  width: 102px;
}

.roadmap {
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 28px;
  min-width: 82px;
  text-align: center;
  white-space: nowrap;
}

.master-button-2 {
  align-items: flex-start;
  align-self: flex-end;
  background: linear-gradient(180deg, rgba(255, 102, 221.34, 0.9) 0%, rgba(188.36, 46.75, 255, 0.95) 100%);
  border-radius: 30px;
  box-shadow: 0px 10px 30px #b6322633;
  display: flex;
  height: 68px;
  margin-left: 46px;
  overflow: hidden;
  padding: 15px 56.0px;
  width: 236px;
}

.surname {
  letter-spacing: 0.10px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.rectangle-48 {
  background: linear-gradient(180deg, rgb(22.28, 4.67, 36.12) 0%, rgba(58.44, 6.57, 47.03, 0.68) 100%);
  height: 208px;
  left: 79px;
  position: absolute;
  top: 803px;
  width: 2600px;
}

.x5-1 {
  height: 389px;
  left: 586px;
  object-fit: cover;
  position: absolute;
  top: 505px;
  width: 382px;
}

.subtitle {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 87px;
  padding: 0 10px;
  position: absolute;
  top: 919px;
  width: 141px;
}

.copywright-2022-rnx {
  color: #f2f2f2;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 18px;
  margin-top: -1px;
  min-height: 18px;
  min-width: 121px;
  text-align: right;
  white-space: nowrap;
}

.social-media {
  height: 41px;
  left: 1389px;
  position: absolute;
  top: 887px;
  width: 106px;
}

